:root {
	--red: #EF3E3D;
	--blue: #32C5F4;
	--tan: #E6DADA;
	--navy: #185f76;
}

html{
	
	font-family: 'Raleway', sans-serif;
	/*font-weight: bold;*/
}

h1{
	color: #32C5F4;
	text-align: center;
	margin:30px;
	font-size: 
}

body{
	margin: 0 auto;
}

header{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/coaster1.jpg");
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #e6dada;
}

header .button{
	
	margin: 0px 10% 25% 10%;
}

header p{
	padding-top: 20%;
	margin: 0 auto 25px auto;
}

.headbutt{
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
	text-align:right;
	margin: 0 43% 10% 23%;
}

/*NAV BAR*/

nav-bar{
	display: block;
}

.container{
	height:116px;
}

.button{
	font-size: 1.6vw;
	padding: 10px 30px 10px 30px;
	color: #E6DADA;
	background-color: #EF3E3D;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	
}