:root {
    --navy: #185f76;
    --rojo: #ef3e3d;
    --light_blue: #32c5f4;
}
.warning {
    color: red;
    display: none;
}
.active {
    display: block;
}
input:invalid {
    border: 1px solid red;
}
input:disabled {
    background-color: #696969;
}
.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error { 
    background-color: var(--rojo);
    padding: 1em;
    border-radius: 1em;
    display: none;
}
#not-logged-in {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.text {
    font-family: raleway;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}
a, a:visited {
    color: var(--rojo);
}
#post-submit {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#code {
    font-size: 2em;
    color: var(--rojo);
}
#extra-height {
    height: 200px;
}
#rating {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}