:root {
	--red: #EF3E3D;
	--blue: #32C5F4;
	--tan: #E6DADA;
	--navy: #185f76;
}

html, pre{
	
	font-family: 'Raleway', sans-serif;
	/*font-weight: bold;*/
	scroll-behavior: smooth;
}


h1{
	color: #32C5F4;
	text-align: center;
	margin:30px;
	font-size: 3em;
	
}

img{
	width: 100%;
}

body{
	margin: 0 auto;
	text-align: center;
	position: relative;
  	min-height: 100vh;
}

header{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/coaster1.jpg");
	
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #e6dada;
}

.headercontent{
	padding: 5% 0% 15% 0%;
}

header .button{
	
	margin: 0px 10vw 10% 10vw;
}

header p{
	padding-top: 20%;
	margin: 0 auto 25px auto;
}

.headbutt{
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup{
	text-align:right;
	margin: 0 43% 10% 23%;
	color: var(--blue);
}

.reserve{
	text-align: left;
	margin: 0 25% 12% 42%; 
	color: var(--blue);
}

video{
	z-index: -100;
	width: 100%;
	
}

.textbox{
	border-radius: 6px;
	border-color:#32C5F4;
	background-color: #E6DADA;
	height: 2vw;
	width: 15vw;
	font-family: 'Raleway';
}

select {
	border-radius: 6px;
	border-color:#32C5F4;
	background-color: #E6DADA;
	height: 4vw;
	width: 17vw;
	font-family: 'Raleway';
	font-size: 1.5vw;
}

#reserve{
	padding-top: 120px;
}

.rides, .restaurants{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.popbox{
	background-color: #E6DADA;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	text-align: center;
	color: var(--blue);
	width: 250px;
	margin: 2%;
	text-decoration: none;

}

.popbox img{
	height: 60%;
	
}

.rides h2, .restaurants h2{
	color: var(--blue);
}

.attractbutt{
	display: flex;
	justify-content: center;
}

.weatherwidget-io{
	width: 60%;
	margin: 30px auto;
	font-size: 50px;
	
}

.mapdiv{
	display: flex;
	justify-content: center;
}


/*NAV BAR*/

nav-bar{
	display: block;
}

.container{
	height: calc(62px + 2vw);
}

.button{
	font-size: 1.6vw;
	padding: calc(4px + .1vw) calc(15px + .25vw);
	color: #E6DADA;
	background-color: #EF3E3D;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	margin: 10px;
	
}

a{
	text-decoration: none;
}

.chevron{
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 2em;
	left: 0.15em;
	position: relative;
	vertical-align: top;
	width: 2em;
	top: 0;
	transform: rotate(135deg);
	color: var(--tan);
	
}

.modal{
	background-color: #E6DADA;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	text-align: center;
	color: var(--blue);
	width: 50%;
	margin: 20px;
	padding:20px;
	height: auto;
}

.modal img{
	width: 50%;
}

#desc{
	text-align: left;
}

.modal-top{
	display: flex;
	justify-content: space-around;
}

.adminbox{
	background-color: var(--tan);
    border-color: var(--navy);
    border-radius: 25px;
    border-style: solid;
    width: 60%;
	margin: 20px auto;	
	display: grid;
	grid-template-columns: 30% 70%;	
	color: black;		
}

.admin-right{
	border-left: solid var(--navy) ;
}
.adminbox h1{
	text-decoration: underline;
}

.adminbox label{
	font-size: 21px;
	font-weight: bold;
	color: var(--blue);
}

.adminbox p{
	font-size: 25px;
	font-weight: bold;
}

ul{
	text-decoration: none;
	list-style: none;
}

li{
	margin: 15px;
	font-size: 21px;
	font-weight: bold;
}

li:hover{
	color: var(--blue);
}

#waittime{
	width: 50px;
}

.team{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 40%;
	margin: 0 auto;
}

.team .popbox{
	
}

.infogrid{
	display: grid;
	grid-template-columns: 60% 40%;
}